* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	background-image: url(../images/pexels-anete-lusina-7256739.jpg);
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
	display: flex;
	flex-direction: column;

}
.mainContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
.banner{
	width: 100vw;
	height: 15vh;
	background-color: #fffdd02b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} 
#mainTitle{
	color:white;
	font-family: 'Bruno Ace', cursive;
	font-size: 90px;
	text-shadow: 10px 10px 10px #333333;
}
nav{
	width: 100vw;
	height: 6vh;
	margin-top: 1vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.boton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	background-color: rgba(192, 192, 192, 0.458);
	margin: 15px;
	box-shadow: 5px 5px 5px #333333;
	font-family: 'Bruno Ace', cursive;
	font-size: 20px;
	color: aliceblue;
	cursor: pointer;
  }
  .boton:hover {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	background-color: aliceblue;
	margin: 15px;
	box-shadow: 5px 5px 5px #604A32;
	font-family: 'Bruno Ace', cursive;
	font-size: 20px;
	color: #604A32;
  }
  .modalBody{
	background-image: url(../images/modalBg.png);
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  }
  .containerBotones{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
main{
	width: 100vw;
	height: 60vh;
	
	margin-top: 1vh;
	margin-bottom: 1vh;
}
footer{
	width: 100vw;
	height: 15vh;
	
}
@media screen and (min-width: 350px) and (max-width: 680px) {
	#mainTitle{
		color:rgb(255, 255, 255);
		font-family: 'Bruno Ace', cursive;
		font-size: 40px;
		text-shadow: 5px 5px 5px #333333;
	}
  }
  